*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  width:100%;
}
button:hover{
  text-decoration: underline;
}

.App{
  /* max-width:1440px; */
  min-width:1420px;
  margin:0 auto;
}
.swiper {
  width: 600px;
  height: 300px;
}